* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.game {
    /* position: relative; */
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./images/imagebg.png");
}

.mario img {
    width: 200px;
    position: absolute;
    top: 400px;
}

.enimy img {
    width: 200px;
    position: absolute;
    top: 410px;
    right: -100px;
    transform: rotateY(190deg);
    animation: enimy_walking 5s linear infinite;
}

@keyframes enimy_walking {
    0% {
        right: -150px;
    }

    100% {
        right: 100%;
    }
}

.mario_jump {
    transition: 0.4s;
    margin-top: -300px;
}

@media screen and (max-width:600px) {
    .mario img {
        width: 100px;
        position: absolute;
        top: 450px;
        /* position: absolute;
        top: 400px; */
    }

    .enimy img {
        width: 100px;
        position: absolute;
        top: 450px;
        /* right: -100px; */
        /* transform: rotateY(190deg); */
        /* animation: enimy_walking 5s linear infinite; */
    }
}